
@{
    ViewBag.Title = "Category Details";
}

<style>
    #CategoryList img {
        max-width: 300px;
    }
</style>


<h2 style="text-align: center;">Category Details</h2>

<div id="CategoryList" class="col-sm-12">


</div>

<script src="~/Scripts/MyScripts/CategoryList/CategoryList.js"></script>