/****** Object:  Table [dbo].[MyCart]    Script Date: 20-05-2024 16:50:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyCart](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[ProdID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MyCart]  WITH CHECK ADD FOREIGN KEY([ProdID])
REFERENCES [dbo].[Prod_Master] ([ProdID])
GO
